@if (Configuration != null)
{
    var about = new Program.About();
    <div class="versions">
        Steeltoe Initializr Web <a href="https://github.com/SteeltoeOSS/InitializrWeb/commit/@about.Commit" target="_blank">@about.Version</a><br/>
        Steeltoe Initializr API <a href="https://github.com/SteeltoeOSS/InitializrApi/commit/@Configuration.About.Commit" target="_blank">@Configuration.About.Version</a><br/>
    </div>
}

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
